<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>

  <body>
    <h1>Narrow Down Your Choice</h1>

    <div id="list1" ng-controller='NarrowItDownController as ni'>

      <input type="text" ng-model="ni.searchTerm" placeholder="item name">
      <button ng-click="ni.narrowSearch();">Narrow It Down For Me!</button>

      <found-items items="ni.items" on-remove="ni.removeItem(index)" results="{{ni.results}}"></found-items>
    </div>


  </body>

</html>
